.wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  width: 100%;
}

.top {
  display: flex;
  gap: 1rem;
  align-items: center;
  align-self: stretch;
}

.tab {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.text {
  color: #8396a8;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: $font-family;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.delete-button {
  position: absolute;
  top: -0.75rem;
  right: -0.75rem;
}
