.zoom {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
}

.zoom:active {
  cursor: grabbing;
}

.diagram {
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
}

.svg-paths {
  overflow: visible;
  pointer-events: none;
}

.svg-paths path {
  transition: stroke 0.5s;
  fill: none;
  stroke: #59687b;
  stroke-width: 2px;
}

.block-wrapper {
  position: absolute;
}
