.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #242e38;
  box-sizing: border-box;

  textarea {
    height: 2.25rem;
    padding: 0.62rem 0.84rem;
    box-sizing: border-box;
    width: 100%;
    text-overflow: ellipsis;
    background: transparent;
    border: none;
    outline: none;
    appearance: none;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: $font-family;
    overflow: hidden;
    resize: none;
  }
}
