.wrapper {
  display: flex;
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
  height: 2rem;
  padding: 0 1rem;
  background: #1d232a;
  border-bottom: 1px solid #2e3742;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: #232b33;
  }

  &:active {
    background-color: #020303;
  }
}

.icon {
  margin-right: 0.5rem;
  color: #eaecee;
  font-size: 0.875rem;
}

.text {
  color: #eaecee;
  font-weight: 700;
  font-size: 0.875rem;
  font-family: $font-family;
}

.spacer {
  flex: 1;
}

.arrow {
  color: #eaecee;
  font-size: 0.875rem;
}

.sub-menu {
  display: flex;
  flex-direction: column;
}
