.wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 5rem;
  height: 5rem;
  background: #242e38;
  border: 0.125rem solid transparent;
  border-radius: 0.5rem;
  cursor: grab;

  &:hover {
    border-color: #a9b4be;
  }
}

.icon {
  color: #eaecee;
  font-size: 3rem;
}

.text {
  color: #eaecee;
  font-size: 1rem;
  font-family: $font-family;
  user-select: none;
}
