.container {
  position: relative;
  cursor: pointer;

  &::after {
    position: absolute;
    top: -2.5rem;
    left: -2.5rem;
    z-index: -1;
    display: block;
    width: calc(100% + 5rem);
    height: calc(100% + 5rem);
    content: '';
  }
}

.title {
  color: #8396a8;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: $font-family;
  text-align: center;
}

.add-button {
  position: absolute;
  top: 50%;
  left: calc(100% + 0.5rem);
  transform: translateY(-50%);
}

.chosen {
  position: absolute;
  top: -0.4125rem;
  left: -0.4125rem;
  width: calc(100% + 0.625rem);
  height: calc(100% + 0.625rem);
  border: 0.125rem dashed #008aff;
  border-radius: 1.625rem;
}

.container[data-type='StartPoint'],
.container[data-type='BotResponse'],
.container[data-type='DefaultFallback'] {
  .body {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    box-sizing: border-box;
    min-width: 9.375rem;
    max-width: 13.125rem;
    padding: 0.75rem;
    border-radius: 1rem;
    user-select: none;

    .text {
      font-size: 1rem;
      font-family: $font-family;
    }

    .icon {
      font-size: 1rem;
    }
  }

  .edit-name-input {
    position: absolute;
    right: 0.5rem;
    bottom: calc(100% + 0.5rem);
    left: 0.5rem;
    width: 8.75rem;
  }

  .title {
    position: absolute;
    bottom: calc(100% + 0.5rem);
    left: 0;
    width: 8.75rem;
  }

  .menu-button {
    position: absolute;
    right: 1rem;
    bottom: calc(100% + 0.5rem);
    left: 1rem;
  }
}

.container[data-type='UserInput'] {
  .body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 3.75rem;
    min-width: auto;
    max-width: none;
    height: 3.75rem;
    padding: 0.625rem;

    &::before {
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      border: 0.125rem solid #354961;
      border-radius: 0.5rem;
      transform: rotate(45deg);
      transition:
        background-color 0.5s,
        border 0.5s;
      content: '';
    }

    .icon {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: #c7ced4;
      font-size: 1.5rem;
      transition: color 0.5s;
    }
  }

  .edit-name-input {
    position: absolute;
    bottom: calc(100% + 0.5rem);
    left: -1.875rem;
    width: 8.75rem;
  }

  .title {
    position: absolute;
    bottom: calc(100% + 0.5rem);
    left: 0;
    width: 3.75rem;
  }

  .menu-button {
    position: absolute;
    bottom: calc(100% + 0.5rem);
    left: -1.875rem;
  }
}

.container[data-type='StartPoint'] .body,
.container[data-type='DefaultFallback'] .body {
  cursor: not-allowed;
}

.container[data-type='StartPoint'] .body {
  background: #566e8a;

  .text {
    color: #eaecee;
    font-weight: 700;
  }

  .icon {
    color: #8aa4be;
  }
}

.container[data-type='BotResponse'] .body {
  background: #e2e5e9;

  .text {
    color: #384350;
    font-weight: 700;
  }

  .icon {
    color: #647283;
  }
}

.container[data-type='DefaultFallback'] .body {
  background: #797b8c;

  .text {
    color: #eaecee;
    font-weight: 700;
  }

  .icon {
    color: #fff;
  }
}
