.button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 1.625rem;
  padding: 0 1rem;
  background-color: transparent;
  border: 1px solid #a9b4be;
  border-radius: 0.375rem;
  cursor: pointer;

  &-text {
    color: #eaecee;
    font-weight: 700;
    font-size: 0.875rem;
    font-family: $font-family;
    text-align: center;
  }

  &:hover {
    border: 1px solid #4db1ff;
  }

  &:hover &-text {
    color: #4db1ff;
  }

  &-wrapper {
    position: relative;
  }
}

.actions {
  position: absolute;
  top: -0.9375rem;
  right: -0.9375rem;
  display: flex;
  gap: 0.25rem;
  align-items: flex-start;
}
